[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
pillow = "*"
django-tinymce4-lite = "*"
django = "==3.2"

[dev-packages]

[requires]
python_version = "3.10"
