[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
pillow = "*"
django-tinymce4-lite = "*"
django = "==3.2"
django-crispy-forms = "*"
django-allauth = "*"
django-debug-toolbar = "*"
djangorestframework = "*"
django-rest-auth = "*"
beautifulsoup4 = "*"
lxml = "*"
pandas = "*"
django-environ = "*"
django-import-export = "*"
mysqlclient = "*"

[dev-packages]

[requires]
python_version = "3.10"
