[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
pillow = "*"
django-tinymce4-lite = "*"
django = "==3.2"
django-crispy-forms = "*"
django-allauth = "*"
python-dotenv = "*"
django-debug-toolbar = "*"

[dev-packages]

[requires]
python_version = "3.10"
