{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %} Tracking {% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <button type="submit" class="btn btn-primary btn-lg btn-block">Update Data for all products</button>
        {% comment %} <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Add new products for tracking</a> {% endcomment %}
        <button onclick="myFunction()" class="btn btn-primary active" id="addbutton">Add new products for tracking</button>
        <div id="productaddform" style="display: none;">
          <form action="" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              {{ form|crispy }}
              <button type="submit" class="button">Submit</button>
              <button onclick="myFunction()" type="submit" class="button">Cancel</button>
          </form>
          {% comment %} <buttton id="btn">Add product</button> {% endcomment %}
        </div>
    </div>
    <div class="table-responsive row">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Lowest Price</th>
                <th scope="col">Target Price</th>
                <th scope="col">Rating</th>
                <th scope="col">Availabity Message</th>
                {% comment %} <th scope="col">Update Data</th> {% endcomment %}
              </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <th scope="row">{{ product.id }}</th>
                        <td><a href={{product.url}}>{{ product.name }}</a></td>
                        {% if product.price %}
                          <td>{{ product.price }}</td>
                        {% else %}
                        <td></td>
                        {% endif %}
                        {% if product.min_price %}
                          <td>{{ product.min_price }}</td>
                        {% else %}
                          <td></td>
                        {% endif %}
                        {% if product.target_price %}
                          <td>{{ product.target_price }}</td>
                        {% else %}
                        <td></td>
                        {% endif %}
                        {% if product.rating %}
                          <td>{{ product.rating }}</td>
                        {% else %}
                          <td></td>
                        {% endif %}
                        {% if product.availabity_messsage %}
                          <td>{{ product.availabity_messsage }}</td>
                        {% else %}
                        <td></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
function myFunction() {
  var x = document.getElementById("productaddform");
  var y = document.getElementById("addbutton")
  if (x.style.display === "none") {
    x.style.display = "block";
    y.style.display = "none";
  } else {
    x.style.display = "none";
    y.style.display = "block";
  }
}
</script>
{% endblock content %}